{{ define "navbar" }}

<!-- ======= Navbar ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Smart Street Light</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- Date Time -->
            <div class="navbar-nav align-items-center live-date-time mx-3 my-auto">
                <div class="nav-item align-items-center">
                    <span>{{ .timeNow }}</span>
                </div>
            </div>
            <!-- Date Time -->
        </ul>
    </nav>
    <!-- End Icons Navigation -->

</header>
<!-- End Navbar -->
{{ end }}