{{ define "sidebar" }}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/">
                <i class="bi bi-grid"></i>
                <span>Home</span>
            </a>
        </li>
        <!-- End Home Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-person"></i>
                <span>List of Device</span>
            </a>
        </li>
        <!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-question-circle"></i>
                <span>Report</span>
            </a>
        </li>
        <!-- End F.A.Q Page Nav -->

    </ul>

</aside>
<!-- End Sidebar-->
{{ end }}