{{ define "content" }}
<h1>lorem Ipsum</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi dicta sit ipsum mollitia pariatur qui, excepturi ut ea at! Modi, quo! Magni quasi necessitatibus ullam est recusandae perspiciatis obcaecati odio? Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Dolorem officiis vel nisi similique? Unde exercitationem sit enim illum ad architecto molestias sint? Quae odio earum aperiam, exercitationem aliquam delectus modi?</p>
{{ end }}